@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "PlayFair Display";
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-top: 60px;
  box-shadow: 3px 0 3px -3px #333;
}
.menuLogo,
.bagLogo {
  height: 2rem;
}
.nav-sub-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  display: block;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}

p {
  color: #141418;
  font-size: 1.2rem;
}
.brand:hover {
  color: #141418;
}
.side-nav .closebtn {
  position: absolute;
  top: 0;
  text-align: center;
  right: 20px;
  font-size: 36px;
  margin: auto;
}
.nav {
  box-shadow: 0 5px 5px -6px #999;
}
.cart {
  position: absolute;
  right: 0.3rem;
  font-size: 2rem;
}
.nav-link {
  color: #141418;
  font-size: 2rem;
  font-weight: 600;
}
span:hover {
  cursor: pointer;
}
.brand {
  margin-left: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.price {
  margin-left: 2rem;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 10rem;
  line-height: 20rem;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.popular-prod-heading {
  font-size: 2rem;
}

.collection-image {
  width: 100%;
}

.overlay {
  position: relative;
  color: aliceblue;
}
footer {
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
bag .btn:hover {
  opacity: 0.7;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-btn {
  font-size: 3rem;
}
@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

.Card-Container {
  display: flex;
  justify-content: center;
}

/* Media Screens */
@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-link {
    color: #141418;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .ant-carousel .slick-slide {
    line-height: 15rem;
  }
  .headline h1 {
    font-size: 2.5rem;
  }
  .head {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .nav-link {
    color: #141418;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .brand {
    margin-left: 0.1rem;
  }
}
